@use "../../scss/partials/queries";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  bottom: 8vh;
  left: 50%;
  @include queries.small {
    left: 42%;
  }
}

.button {
  background-color: white;
  border: 0px;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  @include queries.small {
    font-size: 14px;
  }
}

.number {
  font-size: 16px;
  font-weight: bold;
  width: 20px;
  text-align: center;
  @include queries.small {
    font-size: 13px;
    width: 10px;
  }
}
