.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 8vh;
  left: 50%;
}

.button {
  background-color: white;
  border: 0px;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.number {
  font-size: 16px;
  font-weight: bold;
  width: 20px;
  text-align: center;
}
