@use "../../scss/partials/queries";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  @include queries.small {
    gap: 5px;
  }
}

.image {
  width: 3.5em;
  @include queries.small {
    position: absolute;
    width: 2.5em;
    right: 10vw;
  }
}

.header {
  font-size: 32px;
  @include queries.small {
    font-size: 24px;
  }
}

.text {
  font-size: 18px;
  @include queries.small {
    font-size: 14px;
  }
}
