.container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  border-radius: 25px;
  padding: 2em;
}
